
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .nav-logo {
    height: 50px;
    cursor: pointer;
  }
  
  button {
    border: none;
    background-color: transparent;
    color: #555;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    .navbar {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    button {
      margin: 5px;
    }
  }
  
  @media only screen and (max-width: 414px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-logo {
      margin-bottom: 10px;
    }
  
    button {
      margin: 5px;
    }
  }
  .gamesets {
    margin:auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5%;
  }

  .cards {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: auto;
    padding: 10px;
    transition: box-shadow 0.3s;
    width: 300px;

  }
  
  .cards:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  @media only screen and (max-width: 600px) {
    .gamesets {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px;
    }
  
    .cards {
      padding: 5px;
    }
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  form button[type="submit"] {
    background-color: #0077cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #005fa3;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    form {
      max-width: 90%;
    }
  }
  